In [ ]:
# Food Delivery Data Analysis
Internship Entrance Test  -Innomatics Research Labs

In [2]:
import os
os.listdir()

['.config',
 'orders.csv',
 '.ipynb_checkpoints',
 'users.json',
 'restaurants.sql',
 'sample_data']

In [4]:
import pandas as pd
import json
import sqlite3

In [5]:
# Load orders.csv
orders = pd.read_csv("orders.csv")

# Load users.json
with open("users.json") as f:
    users = pd.json_normalize(json.load(f))

# Load restaurants.sql
conn = sqlite3.connect(":memory:")
with open("restaurants.sql") as f:
    conn.executescript(f.read())

restaurants = pd.read_sql("SELECT * FROM restaurants", conn)

In [9]:
gold_city_revenue = final_df[final_df["membership"]=="Gold"] \
    .groupby("city")["total_amount"].sum()

gold_city_revenue.idxmax()

'Chennai'

In [10]:
final_df.groupby("cuisine")["total_amount"].mean().idxmax()

'Mexican'

In [11]:
count_users = (final_df.groupby("user_id")["total_amount"].sum() > 1000).sum()
count_users

np.int64(2544)

In [12]:
final_df["rating_range"] = pd.cut(final_df["rating"], [3.0,3.5,4.0,4.5,5.0])
final_df.groupby("rating_range")["total_amount"].sum().idxmax()

/tmp/ipython-input-3817810802.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  final_df.groupby("rating_range")["total_amount"].sum().idxmax()

Interval(4.5, 5.0, closed='right')

In [13]:
final_df[final_df["membership"]=="Gold"] \
    .groupby("city")["total_amount"].mean().idxmax()

'Chennai'

In [14]:
restaurants.groupby("cuisine")["restaurant_id"].nunique().idxmin()

'Chinese'

In [15]:
round((final_df[final_df["membership"]=="Gold"].shape[0] / final_df.shape[0]) * 100)

50

In [31]:
# Calculate average order value and total orders per restaurant
restaurant_stats = (
    final_df
    .groupby("restaurant_name_x")["total_amount"]
    .agg(avg_order_value="mean", total_orders="count")
)

# Filter restaurants with less than 20 orders
filtered_restaurants = restaurant_stats[restaurant_stats["total_orders"] < 20]

# Get restaurant with highest average order value
filtered_restaurants.sort_values(
    by="avg_order_value",
    ascending=False
).head(1)

                          avg_order_value  total_orders
restaurant_name_x
Hotel Dhaba Multicuisine      1040.222308            13

In [17]:
final_df.groupby(["membership","cuisine"])["total_amount"].sum().idxmax()

('Regular', 'Mexican')

In [20]:
# Convert order_date to datetime
final_df["order_date"] = pd.to_datetime(final_df["order_date"], dayfirst=True)

In [21]:
final_df["quarter"] = final_df["order_date"].dt.to_period("Q")
final_df.groupby("quarter")["total_amount"].sum().idxmax()

Period('2023Q3', 'Q-DEC')

In [23]:
gold_orders = final_df[final_df["membership"] == "Gold"].shape[0]
gold_orders

4987

In [24]:
hyderabad_revenue = round(
    final_df[final_df["city"] == "Hyderabad"]["total_amount"].sum()
)
hyderabad_revenue

1889367

In [25]:
final_df["user_id"].nunique()

2883

In [26]:
round(
    final_df[final_df["membership"] == "Gold"]["total_amount"].mean(), 2
)

np.float64(797.15)

In [27]:
final_df[final_df["rating"] >= 4.5].shape[0]

3374

In [28]:
top_gold_city = (
    final_df[final_df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .sum()
    .idxmax()
)

orders_in_top_gold_city = final_df[
    (final_df["membership"] == "Gold") &
    (final_df["city"] == top_gold_city)
].shape[0]

top_gold_city, orders_in_top_gold_city

('Chennai', 1337)